<% page_title "Statistics announcements" %>

<h1 style="margin-bottom: -10px">Statistics announcements</h1>
<%= render 'warning' %>

<hr />

<%= link_to "Create announcement", new_admin_statistics_announcement_path, class: "btn btn-large btn-success new_resource", title: "Create a statistics announcement", style: 'margin-bottom: 20px' %>

<div class="row-fluid">
  <div class="span3 span3-responsive">
    <%= render 'filter_options' %>
  </div>
  <div class="span9" id="search_results">
    <%= render 'search_results' %>
  </div>
</div>
