<% initialise_script "GOVUK.StatisticsAnnouncementDateForm", 'statistics_announcement[current_release_date_attributes]' %>
<% page_title "New statistics announcement" %>

<style>
  label {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .stats-type-label {
    width: 250px;
    background: #eee;
    display: inline-block;
    padding: 10px 10px 10px 35px;
    font-size: 16px;
    position: relative;
    vertical-align: top;
    min-height: 103px;
  }

  .stats-type-label input {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .stats-type-label span {
    display: block;
    font-weight: normal;
    margin-top: 5px;
    line-height: 20px;
    font-size: 14px;
    color: #777;
  }
</style>

<div class="span8" style="margin-left: 0">
  <%= render 'warning' %>
  <h1>New statistics announcement</h1>
  <p>Use this to make an announcement for a forthcoming statistics release. Statistics announcements are listed <%= link_to 'here' %>.</p>
  <%= render "form", statistics_announcement: @statistics_announcement %>
</div>
