<% initialise_script "GOVUK.StatisticsAnnouncementDateForm", 'statistics_announcement[current_release_date_attributes]' %>
<% page_title "New statistics announcement" %>

<style>
  label {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .confirmed-date label {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 30px;
  }

  .chunky-radio {
    background: #eee;
    display: inline-block;
    padding: 10px 10px 10px 35px;
    font-size: 16px;
    position: relative;
    vertical-align: top;
  }

  .chunky-radio input {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .chunky-radio span {
    display: block;
    font-weight: normal;
    margin-top: 5px;
    line-height: 20px;
    font-size: 14px;
    color: #777;
  }
</style>

<div class="span8">
  <h1>New statistics announcement</h1>
  <p style="font-size: 16px; color: #777; margin: 5px 0 -10px">Make an announcement for a forthcoming statistics release.</p>
  <p class="warning" style="margin-bottom: 30px">
  Statistics announcements are only for official statistics governed by the UK Statistics Authority.
  </p>


  <%= render "form", statistics_announcement: @statistics_announcement %>
</div>
