.status-block {
  clear: both;
  margin: $gutter-half 0;
  min-height: $gutter;
  background-color: transparent;
  border: $gutter-one-sixth solid $govuk-blue;
  padding: $gutter-half;
  position: relative;
  h2 {
    @include core-36;
    font-weight: bold;
  }

  p {
    @include core-19;
    font-weight: bold;
    margin-top: $gutter-half;
  }

  @include media(desktop) {
    margin: 0 $gutter-half $gutter*2 $gutter-half;
    padding: $gutter-two-thirds;
  }
}

// .document-page .history-mode-block .metadata-list {
//   // Quick hacks to render the meta-data inside a status block
//   // @TODO: Only for prototyping/testing, not to be commited/merged
//   float: none;
//   width: auto;
//   margin: 30px 0 0 -15px;
// }


  .history-mode-block-option-one {
    float: left;
    width: 100%;
    margin: 0 15px 20px 15px;
    padding:$gutter_half 0;

    h2 {
      @include bold-24;
      margin-bottom:$gutter_half;
    }

    p {
      @include core-24;
      margin-bottom:$gutter_half;
    }
  }


  .history-mode-block-option-two {
    float: left;
    padding: 30px;
    color: white;
    background-color: #005EA5;
    margin: 0 15px 30px 15px;

    h2 {
      @include bold-24;
      margin-bottom:$gutter_half;
    }

    p {
      @include core-24;
      margin-bottom:$gutter_half;

      &#onward {
        @include core-19;
        margin-top:$gutter;
        margin-bottom:0;

        a,
        a:active,
        a:visited {
          color:white;
          text-decoration:underline;
        }
      }
    }
  }

  .historical-label {
    margin:0 $gutter_half;

    .phase-tag {
      background-color:#0B0C0C;
      vertical-align: top;
      padding-top:4px;
    }

    span {
      line-height: 1.45;
    }
  }
