.inside_gov_how-gov-works {
  .full-width-section{
    clear:both;
  }

  p, li{
    @include ig-core-19;
    a {
      text-decoration: underline;
    }
  }

  li {
    margin-left: $gutter;
  }

  .thirds-width-section,
  .halves-width-section {
    overflow:visible;
    clear:both;
    margin-top:$gutter - $gutter-one-sixth;
    margin-bottom:$gutter-two-thirds;
    @extend %contain-floats;
    img {
      width: $full-width;
      height: auto;
    }

    .inner-block {
      padding: 0;
    }

    @include media(tablet) {
      margin-left:-$gutter-half;
      margin-right:-$gutter-half;

      .inner-block {
        padding: 0 $gutter-half;
      }

      .two-thirds {
        width: $two-thirds;
        margin-bottom: $gutter;
        float: left;
      }
      .one-third {
        width: $one-third;
        margin-bottom: $gutter;
        float: left;
      }
      .one-half {
        width: $half;
        margin-bottom: $gutter;
        float: left;
      }
    }
  }

  .depts {
    .two-thirds,
    .one-third {
      margin-bottom: 0;
    }
  }

  .ministers{
    margin-bottom: $gutter*2;
  }

    @include media(tablet) {
      margin-top: 0;
    }

    p{
      background-color:$panel-colour;
      padding:$gutter-half;
      margin-top:-0.5em;
    }
  }

    @include media(tablet) {
      .two-thirds{
        margin-top:-$gutter*2;
      }
    }

    margin: 0 auto;
    @include media(tablet) {
      @include core-16;
      padding-top: 40%;
      margin: 0;
    }
    @include media(desktop) {
      @include core-19;
      padding-top: 95px;
    }
  }

  h2 {
    @include ig-core-36;
    padding-bottom: 1px;
    border-bottom: 5px solid black;
    margin: $gutter 0 $gutter;
    clear:both;

    @include media(tablet) {
      margin-top: $gutter*2;
    }
  }

  h3 {
    @include ig-core-27;
    font-weight: bold;
    margin: 0 0 $gutter-two-thirds;
    width: $full-width;
    &.with-gutter {
      margin-top: $gutter-half;
    }
  }

  .prime-minister,
  .dep-prime-minister,
  .cabinet,
  .ministers {
    h3 {
      @include ig-core-27;
      font-weight: bold;
    }
  }

  .gov-types {
    h3 {
      @include ig-core-19;
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  h4 {
    @include ig-core-19;
    font-weight: bold;
    &.with-gutter {
      margin-top: $gutter-half;
    }
  }
  .block {
    float: none;
    display: block;
    width: $full-width;
  }

  p.small-print {
    @include ig-core-14;
  }

  hr.keyline {
    margin: 0;
    border: solid $border-colour;
    border-width: 0 0 1px;
  }

  @media (min-width: 640px) and (max-width: 900px) {
    .prime-minister,
    .history {
      .one-half {
        width: $two-thirds;
        &:first-child {
          width: $one-third;
        }
      }
    }

    .cabinet {
      .two-thirds,
      .one-third {
        width: $half;
      }
    }

    .legislation,
    .access-information {
      .one-third {
        float: right;
        width: $two-thirds;
        &:first-child {
          float: left;
          width: $one-third;
        }
      }
    }

    .legislation .one-third:nth-child(4),
    .access-information .one-third:nth-child(2) {
      margin-bottom: $gutter-half;
    }

    .gov-types {
      .one-third {
        width: $full-width;
      }
    }
  }

  @include media(tablet) {
    .legislation,
    .access-information {
      .one-third {
        float: right;
        &:first-child {
          float: left;
          width: $one-third;
        }
      }
    }
    .legislation {
      .two-thirds {
        margin-bottom: $gutter-one-third;
      }
    }
  }

}
